{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monitor.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href={% static "css/tempCss/open-iconic-bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/animate.css" %}>
    
    <link rel="stylesheet" href={% static "css/tempCss/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/owl.theme.default.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/magnific-popup.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/aos.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/ionicons.min.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/bootstrap-datepicker.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/jquery.timepicker.css" %}>

    
    <link rel="stylesheet" href={% static "css/tempCss/flaticon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/icomoon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/style.css" %}>

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Monitor.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/coupon" class="nav-link">Coupon</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
            {% endif %}
            {% if user.is_authenticated and user.is_superuser == 1%}
            <li class="nav-item"><a href="/dustbin" class="nav-link">DustBins</a></li>
            {% endif %}
            <li class="nav-item active"><a href="/contact" class="nav-link">Contact</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link"><h5>Hello, {{user.username}}</h1></a></li>
            <li class="nav-item"><a href="/account/logout" class="nav-link">Logout</a></li>
            {% else %}
            <li class="nav-item cta"><a href="/account/login" class="nav-link"><span>Login/Signup</span></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact</h1>
          </div>
        </div>
      </div>
    </div>
    
    <section class="ftco-section contact-section ftco-degree-bg">
      <div class="container bg-light">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h4">Contact Information</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a>+91 9987654321</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a>Contact@abc.com</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Website:</span> <a href="#">abc.com</a></p>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-md-3"></div>
          <div class="col-md-6 pr-md-5">
            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>
    

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src={% static "js/tempJs/jquery.min.js" %}></script>
  <script src={% static "js/tempJs/jquery-migrate-3.0.1.min.js" %}></script>
  <script src={% static "js/tempJs/popper.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.easing.1.3.js" %}></script>
  <script src={% static "js/tempJs/jquery.waypoints.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.stellar.min.js" %}></script>
  <script src={% static "js/tempJs/owl.carousel.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.magnific-popup.min.js" %}></script>
  <script src={% static "js/tempJs/aos.js" %}></script>
  <script src={% static "js/tempJs/jquery.animateNumber.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap-datepicker.js" %}></script>
  <!-- <script src={% static "js/tempJs/jquery.timepicker.min.js" %}></script> -->
  <script src={% static "js/tempJs/particles.min.js" %}></script>
  <script src={% static "js/tempJs/particle.js" %}></script>
  <script src={% static "js/tempJs/scrollax.min.js" %}></script>
  <script src={% static "js/tempJs/google-map.js" %}></script>
  <script src={% static "js/tempJs/main.js" %}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
   
  </body>
</html>