{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monitor.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href={% static "css/tempCss/open-iconic-bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/animate.css" %}>
    
    <link rel="stylesheet" href={% static "css/tempCss/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/owl.theme.default.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/magnific-popup.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/aos.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/ionicons.min.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/bootstrap-datepicker.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/jquery.timepicker.css" %}>

    
    <link rel="stylesheet" href={% static "css/tempCss/flaticon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/icomoon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/style.css" %}>

  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Monitor.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/coupon" class="nav-link">Coupon</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
          {% endif %}
          {% if user.is_authenticated and user.is_superuser == 1%}
          <li class="nav-item active"><a href="/dustbin" class="nav-link">DustBins</a></li>
          {% endif %}
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link"><h5>Hello, {{user.username}}</h1></a></li>
          <li class="nav-item"><a href="/account/logout" class="nav-link">Logout</a></li>
          {% else %}
          <li class="nav-item cta"><a href="/account/login" class="nav-link"><span>Login/Signup</span></a></li>
          {% endif %}
        </ul>   
      </div>
    </div>
  </nav>
   

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Dust Bin</h1>
            <p>Check the status of all the Dustbins in Mall</p>
          </div>
        </div>
      </div>
    </div>
 
    <div class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Dust Bins</h2>
            <p>Live monitor all the dustbin and check the status of dustbins admin will we notified if the dustbin needs cleaning </p>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Location Name</th>
                <th scope="col">Last Clean</th>
                <th scope="col">Weight</th>
                <th scope="col">status</th>
              </tr>
            </thead>
            <tbody>
              {% for dustbin in dustbins %}
                {% if dustbin.status == 'open' %}
                <tr style="background-color: #90EE90; color:black;">
                  <th scope="row">{{dustbin.loc_id}}</th>
                  <td>{{dustbin.loc_name}}</td>
                  <td>{{dustbin.last_clean}}</td>
                  <td>{{dustbin.weight}}</td>
                  <td>{{dustbin.status}}</td>
                </tr>
                {% else %}
                <tr style="background-color:#ffcccb; color:black;">
                  <<th scope="row">{{dustbin.loc_id}}</th>
                  <td>{{dustbin.loc_name}}</td>
                  <td>{{dustbin.last_clean}}</td>
                  <td>{{dustbin.weight}}</td>
                  <td>{{dustbin.status}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>              
        </div>
      </div>
    </div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src={% static "js/tempJs/jquery.min.js" %}></script>
  <script src={% static "js/tempJs/jquery-migrate-3.0.1.min.js" %}></script>
  <script src={% static "js/tempJs/popper.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.easing.1.3.js" %}></script>
  <script src={% static "js/tempJs/jquery.waypoints.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.stellar.min.js" %}></script>
  <script src={% static "js/tempJs/owl.carousel.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.magnific-popup.min.js" %}></script>
  <script src={% static "js/tempJs/aos.js" %}></script>
  <script src={% static "js/tempJs/jquery.animateNumber.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap-datepicker.js" %}></script>
  <!-- <script src={% static "js/tempJs/jquery.timepicker.min.js" %}></script> -->
  <script src={% static "js/tempJs/particles.min.js" %}></script>
  <script src={% static "js/tempJs/particle.js" %}></script>
  <script src={% static "js/tempJs/scrollax.min.js" %}></script>
  <script src={% static "js/tempJs/google-map.js" %}></script>
  <script src={% static "js/tempJs/main.js" %}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    
  </body>
</html>