{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monitor.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href={% static "css/tempCss/open-iconic-bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/animate.css" %}>
    
    <link rel="stylesheet" href={% static "css/tempCss/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/owl.theme.default.min.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/magnific-popup.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/aos.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/ionicons.min.css" %}>

    <link rel="stylesheet" href={% static "css/tempCss/bootstrap-datepicker.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/jquery.timepicker.css" %}>

    
    <link rel="stylesheet" href={% static "css/tempCss/flaticon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/icomoon.css" %}>
    <link rel="stylesheet" href={% static "css/tempCss/style.css" %}>
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Monitor.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/coupon" class="nav-link">Coupon</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
          {% endif %}
          {% if user.is_authenticated and user.is_superuser == 1%}
          <li class="nav-item"><a href="/dustbin" class="nav-link">DustBins</a></li>
          {% endif %}
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link"><h5>Hello, {{user.username}}</h1></a></li>
          <li class="nav-item"><a href="/account/logout" class="nav-link">Logout</a></li>
          {% else %}
          <li class="nav-item cta"><a href="/account/login" class="nav-link"><span>Login/Signup</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Visit Us To Get <strong>Incentive</strong> For Desposing The Garbage Properly</h1>
            <br>
            {% if user.is_authenticated %}
              <h1>Hello, {{user.username}}</h1> 
            {% else %}
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/account/login" class="btn btn-primary btn-outline-white px-5 py-3">Login/Signup</a></p>
            {% endif %}
            <br><br>
            <h4 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
              Here you'll get points based on the amount Garbage(Mall tray, food packing, etc). These points can be used to redeem <strong>Coupon Code</strong> for future item purchase. Also helps the staff to monitor the garbage in the bins.
            </h4>
            {% if not user.is_authenticated %}
            <h4 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
              To avail this <strong>Exciting Offer</strong> <a href="/account/signup" onMouseOver="this.style.color= 'white'" onMouseOut="this.style.color= '#404044'">Register now</a> and get your RFID.
            </h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-light">
    <section class="ftco-section-featured ftco-animate">
      <div class="container-fluid" data-scrollax-parent="true">
        <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

          <div class="col-md-3 mb-3">
            <div class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <h3>Coupon Code<br><span class="tag">Get best offers</span></h3>
              </div>
              <img src={% static "images/tempImg/home/image1.jpg" %} class="img-fluid" alt="">
              <div class="text p-4 d-flex align-items-center">
                Redeem Coupon for next order benifits 
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="row no-gutters d-flex align-items-end">

                  <div class="col-md-8">
                    <div class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>Smart DustBin<br><span class="tag">Mall system</span></h3>
                      </div>
                      <img src={% static "images/tempImg/home/image5.jpeg" %} class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          Smart Bins with sensors and ID scanners to modernise the system
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>Good looks<br><span class="tag">Overall modern look</span></h3>
                      </div>
                      <img src={% static "images/tempImg/home/image4.jpg" %} class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          ID's are east to manage and store 
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="col-md-12">
                <div class="row no-gutters d-flex align-items-start">
                  <div class="col-md-8">
                    <div class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>Radio Frequency ID<br><span class="tag">Token based system</span></h3>
                      </div>
                      <img src={% static "images/tempImg/home/image6.jpeg" %} class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          To redeem Coupon Code for benifits
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-img">
                      <div class="text-1 p-4 d-flex align-items-center">
                        <h3>Full Indicator<br><span class="tag">led shows if bin is full</span></h3>
                      </div>
                      <img src={% static "images/tempImg/home/image3.jpg" %} class="img-fluid" alt="">
                      <div class="text p-4 d-flex align-items-center">
                        <div class="user d-flex align-items-center">
                          led indicates if bin is full and notifies for cleaning
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="featured-img">
              <div class="text-1 p-4 d-flex align-items-center">
                <h3>Level Monitor<br><span class="tag">Updates on full bin</span></h3>
              </div>
              <img src={% static "images/tempImg/home/image2.jpeg" %} class="img-fluid" alt="">
              <div class="text p-4 d-flex align-items-center">
                <div class="user d-flex align-items-center">
                  Real time updates on amount of garbage in the bin
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    </div>

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src={% static "js/tempJs/jquery.min.js" %}></script>
  <script src={% static "js/tempJs/jquery-migrate-3.0.1.min.js" %}></script>
  <script src={% static "js/tempJs/popper.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.easing.1.3.js" %}></script>
  <script src={% static "js/tempJs/jquery.waypoints.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.stellar.min.js" %}></script>
  <script src={% static "js/tempJs/owl.carousel.min.js" %}></script>
  <script src={% static "js/tempJs/jquery.magnific-popup.min.js" %}></script>
  <script src={% static "js/tempJs/aos.js" %}></script>
  <script src={% static "js/tempJs/jquery.animateNumber.min.js" %}></script>
  <script src={% static "js/tempJs/bootstrap-datepicker.js" %}></script>
  <!-- <script src={% static "js/tempJs/jquery.timepicker.min.js" %}></script> -->
  <script src={% static "js/tempJs/particles.min.js" %}></script>
  <script src={% static "js/tempJs/particle.js" %}></script>
  <script src={% static "js/tempJs/scrollax.min.js" %}></script>
  <script src={% static "js/tempJs/google-map.js" %}></script>
  <script src={% static "js/tempJs/main.js" %}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    
  </body>
</html>